{% include 'base.html' %}

{% block content %}
{% load cart %}
{% load filter %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">All Products</a>

                {% for cateogry in cateogries %}
                <a href="/?cateogry={{cateogry.id}}"
                    class="list-group-item list-group-item-action">{{cateogry.name}}</a>
                {% endfor %}
            </div>
        </div>

        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-4" id="{{product.id}}" style="width: 18rem;">
                    <img class="card-img-top" src="{{product.image.url}}" alt="">
                    <div class="card-body">
                        <h2 class="card-title" style="font-size: 25px;">{{product.name}}</h2>
                        <p class="card-text"><b>{{product.price|currency}}</b></p>
                        <!-- {{product | is_in_cart:request.session.cart}} -->
                    </div>

                    <div class="card-footer p-0 no-gutters">
                        {% if product|is_in_cart:request.session.cart %}

                        <div class="row no-gutters p-0" style="margin-inline-end: 13px;">
                            <form action="/#{{product.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value='{{product.id}}'>
                                <input hidden type="text" name="remove" value="True">
                                <input type="submit" value=" - " class="btn btn-block btn-light border-right">
                            </form>

                            <div class="text-center col mt-2">{{product|cart_quantity:request.session.cart}} in cart
                            </div>

                            <form action="/#{{product.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value='{{product.id}}'>
                                <input type="submit" value=" + " class="btn btn-block btn-light border-left">
                            </form>
                        </div>

                        {% else %}
                        <form action="/#{{product.id}}" method="post" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value='{{product.id}}'>
                            <input type="submit" class="float-right btn btn-light border form-control btn-block"
                                value="Add To Cart">
                        </form>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}